
h1 {
    font-size: $h1Size + 0.15rem;
    font-family: "Dosis",sans-serif;

}

h2 {
    font-size: $h2Size + 0.15rem;
    font-family: "Dosis",sans-serif;

}
h3
{
    font-size: $linkFontSize + 0.15rem;
    font-family: "Dosis",sans-serif;
}

p {
    font-size: $pSize + 0.15rem;
    font-family: "Roboto",sans-serif;
}

a {
    font-size: $linkFontSize + 0.15rem;
    font-family: "Roboto",sans-serif;
}



